<!-- templates/profile.html -->

{% extends "base.html" %} 
{% block content %}

<h2>Classify Image Using MobileNet and ResNet</h2>

<div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <input id="image-selector" class="form-control border-0" type="file">
            </div>
            <div class="col-6">
                <button id="predict-button" class="btn btn-dark float-right">Predict</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h2 class="ml-3">Predictions</h2>
                <ol id="prediction-list"></ol>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h2 class="ml-3">Image</h2>
                <img id="selected-image" class="ml-3" src="" />
            </div>
        </div>
    </div>

{% endblock %}