[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
python-dotenv = "*"
gunicorn = "*"
gevent = "*"
tensorflow = "==1.14.0"
requests = "*"
keras = "*"
pillow = "*"
python-opencv = "*"
opencv-python = "*"
imutils = "*"

[dev-packages]

[requires]
python_version = "3.7"
